<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Principal</string>
	<string>Vegetariano</string>
	<string>Guarnição</string>
	<string>Massa</string>
	<string>Acomp.</string>
	<string>Salada</string>
	<string>Sobremesa</string>
	<string>Suco</string>
</array>
</plist>
