<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Nota da Refeição</string>
		<key>rows</key>
		<array>
			<dict>
				<key>image</key>
				<string>VoteIconVeryGood</string>
				<key>text</key>
				<string>Muito Bom</string>
			</dict>
			<dict>
				<key>image</key>
				<string>VoteIconGood</string>
				<key>text</key>
				<string>Bom</string>
			</dict>
			<dict>
				<key>image</key>
				<string>VoteIconBad</string>
				<key>text</key>
				<string>Ruim</string>
			</dict>
			<dict>
				<key>image</key>
				<string>VoteIconVeryBad</string>
				<key>text</key>
				<string>Muito Ruim</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>Unidade</string>
		<key>rows</key>
		<array>
			<dict>
				<key>text</key>
				<string>Centro</string>
			</dict>
			<dict>
				<key>text</key>
				<string>Câmpus</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>Principal Motivo Para Esta Nota</string>
		<key>rows</key>
		<array>
			<dict>
				<key>text</key>
				<string>Principal</string>
			</dict>
			<dict>
				<key>text</key>
				<string>Vegetariano</string>
			</dict>
			<dict>
				<key>text</key>
				<string>Guarnição</string>
			</dict>
			<dict>
				<key>text</key>
				<string>Massa</string>
			</dict>
			<dict>
				<key>text</key>
				<string>Acompanhamento</string>
			</dict>
			<dict>
				<key>text</key>
				<string>Salada</string>
			</dict>
			<dict>
				<key>text</key>
				<string>Sobremesa</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
