<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Meal Avaliation</string>
		<key>rows</key>
		<array>
			<dict>
				<key>image</key>
				<string>VoteIconVeryGood</string>
				<key>text</key>
				<string>Very Good</string>
			</dict>
			<dict>
				<key>image</key>
				<string>VoteIconGood</string>
				<key>text</key>
				<string>Good</string>
			</dict>
			<dict>
				<key>image</key>
				<string>VoteIconBad</string>
				<key>text</key>
				<string>Bad</string>
			</dict>
			<dict>
				<key>image</key>
				<string>VoteIconVeryBad</string>
				<key>text</key>
				<string>Very Bad</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>Local</string>
		<key>rows</key>
		<array>
			<dict>
				<key>text</key>
				<string>Downtown</string>
			</dict>
			<dict>
				<key>text</key>
				<string>Campus</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>Main Reason For This Avaliation</string>
		<key>rows</key>
		<array>
			<dict>
				<key>text</key>
				<string>Main</string>
			</dict>
			<dict>
				<key>text</key>
				<string>Vegetarian</string>
			</dict>
			<dict>
				<key>text</key>
				<string>Garnish</string>
			</dict>
			<dict>
				<key>text</key>
				<string>Pasta</string>
			</dict>
			<dict>
				<key>text</key>
				<string>Side</string>
			</dict>
			<dict>
				<key>text</key>
				<string>Salad</string>
			</dict>
			<dict>
				<key>text</key>
				<string>Dessert</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
